.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */
.card {
  margin-bottom: 20px;
  border-color: #cbced2;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}
.main-card {
  padding: 25px;
}
button {
  color: #326a9d;
  border-color: #326a9d;
  border-width: 2px;
  background-color: white;
  border-radius: 5px;
}
h1 {
  color: #326a9d;
}
p {
  color: #64748b;
}
